* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.home-page {
  background: $radio-col-blocked;
  color: $radio-col-light;
  &__program-schedule {
    ul {
      list-style: none;
      max-width: 300px;
      margin-right: 70px;
      padding-bottom: 50px;
    }
    &--title {
      color: $radio-col-light;
      margin: 0 0 30px 0;
    }
    &--item {
      display: flex;
      display: -moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      padding: 5px 15px;
      margin: 5px 0;
      border: 1px solid transparent;
      font-size: 15px;
      &--time {
        font-weight: 400;
        width: 50%;
      }
      &--program {
        font-weight: 600;
        width: 50%;
      }
      &--active {
        border: 1px solid $radio-col-light;
        border-radius: 17.5px;
      }
    }
    &--download {
      a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
        &:first-child {
          margin-left: 0;
        }
        img {
          max-height: 100%;
        }
      }
    }
  }

  &__contact {
    display: flex;
    display: -moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    // padding-top: 65px;
    &--form {
      font-weight: 500;
      display: flex;
      display: -moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      flex-direction: column;
      margin-right: 85px;
      width: 30vw;
      max-width: 360px;
      &--title {
        margin: 20px 0px;
        line-height: 20px;
      }
      .input-group {
        display: flex;
        display: -moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
        flex-direction: column;
        margin-bottom: 15px;
        label {
          font-size: 13px;
        }
        input, textarea {
          padding: 5px 10px;
          color: $radio-col-dark;
          border: 1px solid $radio-col-light;
          border-radius: 3px;
          width: 100%;
          resize: vertical;
          outline: none;
        }
      }
      button {
        width: 100%;
        background: $radio-col-dark;
        border: 1px solid $radio-col-dark;
        padding: 5px 10px;
        text-align: center;
        border-radius: 3px;
        font-weight: 600;
        outline: none;
      }
    }

    &--follow-us {
      margin-top: 60px;
      font-weight: 500;
      &--title {
        margin: 0;
        line-height: 20px;
      }
      &--social {
        li {
          a {
            color: $radio-col-light;
          }
          a:hover {
            color: $radio-col-light;
          }
          display: inline-block;
          font-size: 48px;
          margin-right: 25px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__footer {
    font-size: 12px;
    padding: 60px 0px 10px 60px;
  }
  .Section-schedule{
    background-color:#000;
    .home-page{
      &__program-schedule{
        margin:0px;
      }
    }
  }
}

@media (max-width: 767px) {
  .home-page {
    &__program-schedule {
      padding: 0 15px;
      margin-top: 45px;
      flex: 1;
      ul {
        margin: 0 auto;
        padding-bottom: 30px;
      }
      &--title {
        font-size: 24px;
      }
      &--download {
        text-align: center;
        padding-bottom: 30px;
        a {
          height: 40px;
        }
      }
    }
    &__contact {
      display: block;
      &--form {
        width: auto;
        margin: 0 auto;
      }
      &--follow-us {
        text-align: center;
      }
    }
    &__footer {
      padding: 60px 15px 10px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .home-page {
    &__contact {
      &--form {
        max-width: 274px;
      }
    }
  }
}
