.radio-box-all {
  position: relative;
  display: flex;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 220px;
  justify-content: center;
  background-color: $radio-col-dark;
  .inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    padding: 20px;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    background-color: $radio-col-dark-red;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -130px;
    padding: 120px;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    background-color: $radio-col-blocked;;
  }

}

.radio-player {
  margin-right: 100px;
  &__image-box {
    text-align: center;
  }
  &__album-image {
    max-width: 150px;
    width: 100%;
    border: 1px solid $radio-col-light;
  }
  &__player-box {
    display: flex;
    align-items: flex-start;
    padding-top: 5vh;
  }
  &__audio {
    &__source {
      display: none;
    }
    &__btn {
      width: 76px;
      height: 76px;
      padding: 10px;
      background-color: $radio-col-blocked;
      border-radius: 50%;
      border: 2px solid $radio-col-light;
      box-shadow: inset 0 0 4px $radio-col-dark;
      font-size: 30px;
      color: $radio-col-light;
      outline: none;
      box-sizing: border-box;
      span.fa.fa-play {
        margin-left: 5px;
      }
    }
  }
  &__detail {
    margin: 0 0 0 20px;
    span {
      display: block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__song-name {
    font-size: 22px;
    color: $radio-col-light;
    font-weight: bold;
  }
  &__singer {
    font-size: 16px;
    font-weight: bold;
    height: 18px;
    margin: 3px 0px 8px;
  }
  &__music-type {
    font-size: 12px;
    height: 14px;
    color: $radio-col-loud;
  }
}

.quality-wrapper {
  &.hidden-desktop {
    display: none;
  }
  &.hidden-mobile {
    .quality {
      position: absolute;
      top: 40px;
      right: 35px;
    }
  }
}

.quality {
  &__box {
    color: $radio-col-light;
    ul {
      list-style: none;
    }
    &__item {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-color: $radio-col-blocked;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      @include radio-transition(background-color);
      &:hover {
        background-color: $radio-col-dark-red;
      }
      strong,
      span {
        display: inline-block;
        vertical-align: bottom;
      }
      span {
        margin-left: 4px;
        font-size: 12px;
      }
      &--active {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 7px;
          background-color: $radio-col-light;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .radio-box-all {
    flex-flow: column;
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
      display: none
    }
    &:before{
      display: none
    }
    .radio-box{
      position: relative;
      flex: 1;
      height: calc(100vh - 107px);
      align-items: center;
      align-content: center;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
  .radio-player {
    max-width: 302px;
    margin: 0 auto 50px;
    padding: 0 15px;
    margin-bottom: 42px;
  }
  .quality-wrapper {
    &.hidden-mobile {
      display: none;
    }
    &.hidden-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
    }
  }
  .quality {
    &__box {
      ul {
        display: table;
        table-layout: fixed;
        width: 100%;
      }
      &__item {
        display: table-cell;
      }
      p {
        margin: 0 0 5px 10px;
      }
    }
  }
}
