select:invalid {
  color: lighten($radio-col-loud, 10%);
}

.form-control[disabled] {
  opacity: .7;
  color: lighten($radio-col-loud, 10%) !important;
}

/**
 * ITCSS: we are still in the "elements" layer!
 * These are bare, unclassed HTML elements.
 * so the below styles do not belong here!
 */

// .zigvy-form{
//   .zigvy-form__title{

//   }

//   .zigvy-form__buttons{
//     text-align: center;
//     .alert-success{
//       text-align: left;
//       background-color: rgb(58, 193, 98);
//       span{
//         margin-left: 10px;
//       }
//     }
//   }
// }

/* Form Select Switches */
.switch {
  margin: 1px 5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;

    &:after {
      content: "";
      position: absolute;
      left: 2px;
      top: 1px;
      bottom: 1px;
      width: 24px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 50%;
      -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
  }

}

.switch input:checked + span:after {
  left: 26px;
  border: none;
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
  background-color: #eeeeee;
}

.switch-default span {
  border-color: #dbe1e8;
}

.switch-default input:checked + span {
  background-color: #dbe1e8;
}

.switch-primary span {
  border-color: #1bbae1;
}

.switch-primary input:checked + span {
  background-color: #1bbae1;
}

.switch-info span {
  border-color: #7abce7;
}

.switch-info input:checked + span {
  background-color: #7abce7;
}

.switch-success span {
  border-color: #aad178;
}

.switch-success input:checked + span {
  background-color: #aad178;
}

.switch-warning span {
  border-color: #f7be64;
}

.switch-warning input:checked + span {
  background-color: #f7be64;
}

.switch-danger span {
  border-color: #ef8a80;
}

.switch-danger input:checked + span {
  background-color: #ef8a80;
}

.lt-ie9 .switch input {
  position: static;
  opacity: 1;
  filter: alpha(opacity=100);
}

.lt-ie9 .switch span,
.lt-ie9 .switch span:after {
  display: none !important;
}
