// SI identity
$radio-col-brand: #24b2bf;
$radio-col-primary: #5cd8e4;
$radio-col-dark: #000000;
$radio-col-light: #ffffff;
$radio-col-quiet: #f4f7f9;
$radio-col-regular: #e2e5e8;
$radio-col-loud: #7b8b8e;

// SI availability states
$radio-col-now: #28C55C;
$radio-col-soon: #ffb700;
$radio-col-blocked: #780B10;

// ui states
$radio-col-success: #3ac162;
$radio-col-danger: #ed5a5a;
$radio-col-warning: #f9b52b;
$radio-col-info: $radio-col-brand;

// specific color
$radio-col-dark-red: #460607;